body { font:13px/1.231 sans-serif; *font-size:small; }

h1 {
    font-size: 2.0em;
    font-weight: 100;
    color: #000;
}

#chart {
  font: 10px sans-serif;
}

.chord path {
  fill-opacity: .67;
  stroke: #999;
  stroke-width: .5px;
}

.group path {
stroke: #999;
stroke-width: .5px;
}

text {
  font: 11px sans-serif;
  pointer-events: none;
}
